# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
*.spec

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Project-specific
platform/master/db.sqlite3
platform/master/staticfiles/
platform/agent/agent_data/
platform/agent/agent_token.json
